.SubHeader {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 120%;
  position: relative;

  .SubHeaderItem {
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }

  .underline {
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      color: white;
      bottom: 0;
      left: 0;
      height: 5px;
      z-index: 3;
      background: white;
      border-radius: 5px;
    }
  }
}

@media  (max-width: 1000px) {
    .SubHeader {
        display: none;
    }
}