@media (min-width: 1000px) {
  section {
    height: 600px;
    background: #4C2923;

    .Products {
      width: 100%;
      height: 90%;
      margin-left: 12.5%;

      .productHead {
        width: 85%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          color: white;
          font-size: 125%;
        }

        span {
          color: #D98E63;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .productList {
        width: 150vw;
        height: 80%;
        display: flex;
        gap: 50px;

        &.slideR {
          animation: 2s slideRight ease-in-out forwards;
        }

        &.slideL {
          animation: 2s slideLeft ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80vw);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(0);
  }
}